<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pportal tower -->
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="#{Application.get_env(:pp_web, :adsense_key)}"
</ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>