<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- nerves.build -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="#{key}"
     data-ad-slot="#{slot(:responsive)}
     data-ad-format="auto"></ins>
